body{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

header{
    width: 99%; /*Definir a largura*/
    height: 100px; /*Definir altura*/
    display: flex;
}

#logo{
    width: 160px;
    height: 100px;
    margin-left: 10px;
    padding: 0px;
    border: 0px;
    
}

#logo_shop{
    height: 50px;
    margin-top: 26px;
    padding: 0px;
    border: 0px;

}

#botoes{
    padding-left: 800px;
    padding-top: 25px;
}

#faixa{
    width: 99.8%;
    height: 44px;
    display: flex;
    background-color: rgb(240, 238, 238);
   
}

h1{
    padding: 0px;
    margin: 0px;
    padding-left: 880px;
}

a{
    text-decoration: none;
    color: rgb(94, 92, 92);
    font-size: 0.6em;
    padding-top: 13px;
    
}

#slid{
    background-color: rgb(30, 30, 179);
    width: 99.8%;
    height: 435px;
    
}

#btn2{
    display: flex;
}
.btn{
    width: 280px;
    height: 130px;
    margin-left: 17px;
    border-radius: 10px;
    margin-top: -25px !important;
}

#b1{
    background-color: yellow;
}
#b2{
    background-color: rgb(55, 54, 56);
}
#b3{
    background-color: rgb(8, 109, 67);
}
#b4{
    background-color: rgb(241, 21, 21);
}


